body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
#main{
    height: 100px;
    width: 100px;
    background-color:#673ab7;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main img{
    margin: 10px 5px;
}
#main:hover{
    cursor: pointer;
}
#wave,#wave2{
    height: 100px;
    width: 100px;
    background-color: silver;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: -1;
}
@-webkit-keyframes pulseEffect{
    from{
        transform: translate(-50%,-50%) scale(0.5);
        opacity: 0.4;
    }
    to{
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;
    }
}
@-webkit-keyframes pulseEffect2{
    from{
        transform: translate(-50%,-50%) scale(0);
        opacity: 0.6;
    }
    to{
        transform: translate(-50%,-50%) scale(2);
        opacity: 0;
    }
}
#main:hover ~ #wave{
    -webkit-animation:pulseEffect 2s infinite linear;
}
#main:hover ~ #wave2{
    -webkit-animation:pulseEffect2 2s infinite linear;
}











